.postListContainer {
    padding: 16px 8px;
}

.post {
    display: flex;
    padding: 8px 0;
    align-items: flex-start;
}

.postText {
    flex: 1;
    padding: 0 8px;
}

.thumbnail {
    width: 125px;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
  }

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
  }